@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  /*--fonte_titulo: 'Pacifico', cursive;*/
  /*--fonte_botao: 'Lilita One', cursive;*/
  --fonte_titulo: 'Permanent Marker', cursive;
}

* {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
  width: 100vw;
}

textarea,
h1,
button {
  z-index: 1;
}

#estrelas {
  position: absolute;
}

/* Estilos para quando altura é maior que largura */
@media (orientation: portrait) {
  textarea {
    border-radius: 15px;
    padding: 10px;
    text-shadow: 0px 0px 5px #ffcccc;
    resize: none;
  }

  #cabecalho {
    align-items: center;
    color: black;
    display: flex;
    font-family: var(--fonte_titulo);
    justify-content: center;
    text-align: center;
  }

  #titulo {
    display: inline;
    filter: invert(100%);
    text-shadow: 0px 0px 10px white;
  }

  #subtitulo {
    display: inline;
    filter: invert(100%);
    font-family: var(--fonte_titulo);
    text-shadow: 0px 0px 10px white;
  }

  #main {
    display: grid;
    grid-template-areas:
      "input1"
      "botao1"
      "input2"
      "botao2";
  }

  .div_encriptografar {
    grid-area: input1;
  }

  .div_descriptografar {
    grid-area: input2;
  }

  .div_botao1 {
    grid-area: botao1;
  }

  .div_botao2 {
    grid-area: botao2;
  }

  .botao {
    border-radius: 10px;
    cursor: pointer;
    height: 5vh;
    margin-bottom: 4vh;
    width: 50%;
  }

  .display_flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .estrelinha {
    animation: brilhaEstrelinha;
    animation-duration: 10s;
    height: 10px;
    width: 10px;
  }

  .filter_invert {
    filter: invert(100%);
  }

  .input {
    height: 20vh;
    margin-bottom: 4vh;
    width: 75%;
  }
}

/* Estilos para quando largura é maior que altura */
@media (orientation: landscape) {
  textarea {
    border-radius: 15px;
    padding: 10px;
    text-shadow: 0px 0px 5px #ffcccc;
    resize: none;
  }

  #cabecalho {
    align-items: center;
    color: black;
    display: flex;
    grid-area: cabecalho;
    justify-content: center;
    text-align: center;
  }

  #titulo {
    display: inline;
    filter: invert(100%);
    font-family: var(--fonte_titulo);
    text-shadow: 0px 0px 10px white;
  }

  #subtitulo {
    display: inline;
    filter: invert(100%);
    font-family: var(--fonte_titulo);
    text-shadow: 0px 0px 10px white;
  }
    
  #main {
    display: grid;
    grid-area: main;
    grid-template-areas:
      "input1 input2"
      "botao1 botao2";
  }

  .botao {
    border-radius: 10px;
    cursor: pointer;
    height: 5vh;
    margin-bottom: 4vh;
    width: 50%;
  }

  .display_flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .estrelinha {
    animation: brilhaEstrelinha;
    animation-duration: 10s;
    height: 10px;
    width: 10px;
  }

  .filter_invert {
    filter: invert(100%);
  }

  .input {
    height: 60vh;
    margin-bottom: 4vh;
    width: 61%;
  }
}
  
@keyframes brilhaEstrelinha {
  0% {
    filter: opacity(0%);
  }

  80% {
    filter: opacity(100%);
  }

  85% {
    filter: opacity(100%);
  }

  100% {
    filter: opacity(0%);
  }
}